
@font-face {
	font-family: 'IRANSans-web';
        src: url('../fonts/WebFonts/eot/IRANSans-Bold-web.eot');
 
	src: url('../fonts/WebFonts/eot/IRANSans-Bold-web.eot?#iefix') format('eot'),  /* IE6–8 */
url('../fonts/WebFonts/woff2/IRANSans-Bold-web.woff2') format('woff2'),  /* Chrome36+, Opera24+*/
url('../fonts/WebFonts/woff/IRANSans-Bold-web.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
url('../fonts/WebFonts/ttf/IRANSans-Bold-web.ttf') format('ttf');  
	font-weight: bold;
}


@font-face {
	font-family: 'IRANSans-web';
        src: url('../fonts/WebFonts/eot/IRANSans-Medium-web.eot');
 
	src: url('I../fonts/WebFonts/eot/IRANSans-Medium-web.eot?#iefix') format('eot'),  /* IE6–8 */
url('../fonts/WebFonts/woff2/IRANSans-Medium-web.woff2') format('woff2'),  /* Chrome36+, Opera24+*/
url('../fonts/WebFonts/woff/IRANSans-Medium-web.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
url('../fonts/WebFonts/ttf/IRANSans-Medium-web.ttf') format('ttf');  
	font-weight: 500;
}


@font-face {
	font-family: 'IRANSans-web';
        src: url('../fonts/WebFonts/eot/IRANSans-UltraLight-web.eot');
 
	src: url('../fonts/WebFonts/eot/IRANSans-UltraLight-web.eot?#iefix') format('eot'),  /* IE6–8 */
url('../fonts/WebFonts/woff2/IRANSans-UltraLight-web.woff2') format('woff2'),  /* Chrome36+, Opera24+*/
url('../fonts/WebFonts/woff/IRANSans-Medium-web.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
url('../fonts/WebFonts/ttf/IRANSans-UltraLight-web.ttf') format('ttf');  
	font-weight: 200;
}


@font-face {
	font-family: 'IRANSans-web';
        src: url('../fonts/WebFonts/eot/IRANSans-Light-web.eot');
 
	src: url('../fonts/WebFonts/eot/IRANSans-Light-web.eot?#iefix') format('eot'),  /* IE6–8 */
url('../fonts/WebFonts/woff2/IRANSans-Light-web.woff2') format('woff2'),  /* Chrome36+, Opera24+*/
url('../fonts/WebFonts/woff/IRANSans-Light-web.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
url('../fonts/WebFonts/ttf/IRANSans-web.ttf') format('ttf');  
	font-weight: 300;
}


@font-face {
	font-family: 'IRANSans-web';
        src: url('../fonts/WebFonts/eot/IRANSans-web.eot');
 
	src: url('../fonts/WebFonts/eot/IRANSans-web.eot') format('eot'),  /* IE6–8 */
url('../fonts/WebFonts/woff2/IRANSans-web.woff2') format('woff2'),  /* Chrome36+, Opera24+*/
url('../fonts/WebFonts/woff/IRANSans-web.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
url('../fonts/WebFonts/ttf/IRANSans-web.ttf') format('ttf');  
	font-weight: normal;
}
