//font
$mainFont: IRANSans-web !important;
//colors
$black:#000;
$white: #ffffff;
$white100:#b4bebe;
$white200:#A9ACAC;
$gray100:#4D4D4D;
$gray200:#4C5159;
$gray300:#ACA8A8;
$gray400:#383838;
$gray500:#2E2509;
$red:#EE1E27;
$red100:#f50000;
$yellow100:#F6BF27;
$yellow200:#F8C843;
$yellow300:#FAD779;
$yellow400:#f8ca4c;
