@import "font";
@import "utility";
@import "varibales";

//global
body {
  direction: rtl;
  font-size: rem(13px);
  font-family: $mainFont;
  text-decoration: none;
  position: relative;
  font-weight: normal;
  background-size: rem(167px) rem(351px);

  a {
    text-decoration: none !important;
  }
  button {
    cursor: pointer;
    outline: none;
    border: none;
    background: transparent;
  }
}
input,
select,
textarea {
  font-family: $mainFont;
}
ul {
  list-style: none;
}
// for blur background
.overlay {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 5;
  display: none;
  width: 100vw;
  height: 100%;
  /* Note: currently only Safari supports backdrop-filter */
  backdrop-filter: blur(30px);
  --webkit-backdrop-filter: blur(30px);
  background-color: rgba(255, 255, 255, 0.15);
}

.overlay__show {
  display: block;
}

.fixed_body {
  height: 100vh;
  overflow: hidden;
}
//global

header {
  position: relative;
  margin-top: rem(32px);
  .content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: rem(36px);
    @include mq(992) {
      justify-content: flex-end;
    }
    .logo {
      svg {
        width: rem(53px);
        height: rem(30px);
        fill: $yellow300;
      }
      @include mq(992) {
        position: absolute;
        z-index: 30;
        right: rem(50px);
        margin-top: rem(15px);
        svg {
          fill: $black !important;
        }
      }
    }

    .left {
      display: flex;
      align-items: center;
      nav {
        margin-left: rem(263px);
        @include mq(992) {
          padding-top: rem(100px) !important;
          position: fixed;
          right: rem(-260px);
          top: 0;
          width: rem(260px);
          margin-left: 0;
          background: $yellow200;
          height: 100vh;
          padding: 20px 0;
          transition: all 0.5s;
          z-index: 10;
          li {
            padding: rem(10px);
            font-size: rem(16px) !important;
            a {
              color: $gray500;
              font-weight: 300;
            }
          }
        }
        ul {
          margin: 0 rem(-8px);
          display: flex;
          align-items: center;
          margin-bottom: 0 !important;
          @include mq(992) {
            margin: 0;
            flex-direction: column;
            align-items: flex-start;
          }
          li {
            margin: 0 rem(8px);
            a {
              color: $gray200;
              font-weight: 300;
              font-size: rem(16px);
              &:hover {
                color: $yellow100 !important;

                @include mq(992) {
                  font-weight: bold;
                  font-size: 16px;
                  color: $black !important;
                }
              }
            }
          }
          .active {
            a {
              font-weight: bold;
              color: $yellow100 !important;
              @include mq(992) {
                font-weight: bold;
                font-size: 16px;
                color: $black !important;
              }
            }
          }
        }
      }
      .show__menu {
        right: 0;
      }
      .icons {
        a {
          position: relative;
          span {
            position: absolute;
            right: rem(-2px);
            bottom: rem(-4px);
            color: $white;
            width: rem(18px);
            height: rem(13px);
            background-color: $red;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: rem(2px);
            font-size: rem(12px);
          }
        }
        @include mq(992) {
          margin-right: auto;
        }
      }
      .modal__box {
        .modal-body {
          height: rem(300px);
          @include mq(425) {
            height: calc(100vh - 46px);
          }
          .search__input {
            display: flex;
            align-items: center;
            @include mq(425) {
              justify-content: center;
            }
            input {
              border: none;
              border-bottom: rem(1px) solid $black;
              padding: rem(30px) 0;
              background-image: url("../img/search__icon__in__modal.svg");
              background-repeat: no-repeat;
              background-position: left 0 bottom rem(20px);
              font-weight: 300;
              font-size: rem(18px);
              line-height: rem(56px);
              @include mq(425) {
                width: 80%;
                padding: 0;
                background-position: left 0 bottom rem(5px);
              }
            }
            ::placeholder {
              font-weight: 300;
              font-size: rem(18px);
              line-height: rem(56px);
              text-align: right;
              color: $black;
              @include mq(425) {
                font-size: rem(15px);
                line-height: rem(30px);
                // padding-bottom: rem(30px);
              }
            }
          }
        }
      }
      .mobile__menu {
        display: none;
        @include mq(992) {
          display: block;
          margin-right: 15px;
        }
      }
    }
  }
}
.new_arrivals {
  position: relative;
  background-repeat: no-repeat;
  background-position: top rem(91px) right rem(-27px);
  margin-top: rem(100px);
  margin-bottom: rem(116px);
  @include mq(1260) {
    background-position: top rem(91px) right rem(-80px);
  }
  @include mq(480) {
    background: none;
  }
  .description {
    margin-right: rem(56px);
    @include mq(480) {
      margin-right: rem(10px);
    }
    h6 {
      font-size: rem(16px) !important;
      color: $gray300;
      margin-top: rem(43px);
      padding-bottom: 16px;
      width: fit-content;
      border-bottom: 1px solid $gray300;
      font-weight: 300;
      height: rem(40px);
      overflow: hidden;
      @include mq(480) {
        font-size: rem(14px) !important;
      }
    }
    h3 {
      font-size: rem(45px);
      margin-top: rem(30px);
      margin-bottom: rem(40px);
      line-height: rem(70px);
      font-weight: 500;
      overflow: hidden;
      max-height: rem(150px);
      @include mq(480) {
        font-size: rem(30px);
      }
      span {
        color: $yellow100;
      }
    }
    p {
      font-weight: 300;
      color: $gray400;
      line-height: rem(27px);
      max-width: rem(295px);
      margin-bottom: rem(30px);
      height: rem(60px);
      overflow: hidden;
    }
    .buy_now {
      display: inline-block;
      font-weight: 300;
      line-height: rem(26px);
      border-radius: rem(20px);
      background: $yellow100;
      box-shadow: 0 rem(3px) rem(20px) rgba(255, 195, 0, 0.39);
      color: $white;
      padding: rem(8px) rem(26px);
      transition: all 0.5s;
      &:hover {
        box-shadow: none;
        background: $black;
      }
    }
  }
  .pic {
    overflow: hidden;
    object-fit: cover;
  }
}
.popular_flowers,
.most_favorites,
.latest_from_blogs {
  .title {
    text-align: center;
    padding-bottom: rem(82px);
    h5 {
      text-align: center;
      display: inline-flex;
      position: relative;
      font-weight: 500;
      font-size: rem(25px);
      margin: 0 rem(37px) 0 rem(37px);
      @include mq(520) {
        font-size: rem(18px);
        margin: 0 rem(25px) 0 rem(25px);
      }
    }
    .after {
      svg {
        transform: rotate(180deg);
      }
    }
  }
}
.popular_flowers {
  .items {
    display: flex;
    width: 100%;
    a {
      img {
        border-radius: 12px;
      }
    }
  }
}
.most_favorites {
  background-image: url("../img/most_populare_right_bg.png"),
    url("../img/most_populare_left_bg.png");
  background-position: top rem(144px) right rem(-27px), top rem(144px) left 0;
  background-repeat: no-repeat no-repeat;
  margin-top: rem(110px);
  @include mq(768) {
    background-image: none;
  }
  .content {
    .item {
      margin-top: rem(120px);
      margin-bottom: rem(60px);
      &:hover {
        .top {
          .box {
            .like_item {
              opacity: 1;
            }
            .hover_img {
              opacity: 1;
            }
          }
        }
        .description {
          button {
            background-color: $black;
            border-radius: rem(21px);
            padding: rem(10px);
            color: $white;
            border-bottom: 0;
          }
        }
      }
      .top {
        position: relative;
        .pic {
          display: inline-block;
          position: absolute;
          bottom: rem(44px);
          left: 50%;
          transform: translateX(-50%);
          max-width: rem(280px);
          max-height: rem(322px);
        }
        .box {
          height: rem(178px);
          border-radius: rem(22px);
          background: $white;
          box-shadow: 0 rem(3px) rem(31px) rgba(0, 0, 0, 0.07);
          .like_item {
            position: absolute;
            bottom: rem(17px);
            right: rem(16px);
            opacity: 0;
            z-index: 100;
            transition: all 0.5s;
            cursor: pointer;
          }
          .hover_img {
            transition: all 0.5s;
            position: absolute;
            z-index: 100;
            left: 0;
            bottom: 0;
            opacity: 0;
          }
        }
      }
      .description {
        margin-top: rem(30px);
        .item_name {
          font-size: rem(18px);
          font-weight: bold;
          line-height: rem(30px);
          a {
            color: $black !important;
          }
        }
        .price {
          font-size: rem(18px);
          font-weight: bold;
          line-height: rem(30px);
          margin-bottom: rem(12px) !important;
        }
        .category {
          font-weight: normal;
          font-size: rem(14px);
          margin-bottom: rem(22px);
        }
        button {
          // transition: all 0.5s;
          padding-bottom: rem(20px);
          font-size: rem(14px);
          color: $yellow400;
          outline: none;
          height: rem(40px);
          overflow: hidden;
          border-bottom: rem(1px) solid $yellow400;
        }
      }
    }
    .more {
      font-size: rem(16px);
      display: inline-flex;
      color: $white;
      text-align: center;
      margin: 0 auto;
      padding: rem(11px) rem(30px);
      border-radius: 24px;
      background: $yellow100;
      box-shadow: 0 rem(3px) rem(20px) rgba(255, 195, 0, 0.39);
      transition: all 0.5s;
      &:hover {
        box-shadow: none;
        background: $black;
      }
    }
  }
}
.banner {
  margin: rem(194px) 0 rem(144px) 0;

  a {
    img {
      border-radius: rem(15px);
    }
  }
}
.latest_from_blogs {
  margin-bottom: rem(186px);
  @include mq(780) {
    margin-bottom: rem(80px);
  }
  .content {
    .title {
      text-align: center;
      @include mq(380) {
        span {
          display: none;
        }
      }
    }
    .item {
      width: 100%;
      border-radius: rem(26px);
      background: $white;
      box-shadow: 0 rem(3px) rem(19px) rgba(0, 0, 0, 0.1);
      transition: all 0.5s;
      padding-bottom: rem(28px);
      &:hover {
        background: $yellow100;
        box-shadow: 0px 3px 19px rgba(0, 0, 0, 0.1);
        .description,
        a,
        span {
          color: $white !important;
        }
        .description {
          .info {
            svg {
              fill: $white;
            }
          }
        }
        .show_more {
          svg {
            fill: $white;
          }
        }
      }
      .pic {
        width: 100%;
        height: rem(382px);
        overflow: hidden;
        margin-bottom: rem(20px);
        display: block;
        border-radius: rem(26px);
        img {
          object-fit: cover;
          width: 100%;
          height: 100%;
          box-shadow: 0 rem(3px) rem(16px) rgba(0, 0, 0, 0.16);
        }
      }
      .description {
        padding: 0 rem(20px);
        .info {
          font-weight: 300;
          font-size: rem(14px);
          color: $white200;
          margin-bottom: rem(20px);
          max-width: rem(235px);
          height: rem(24px);
          overflow: hidden;

          svg {
            fill: $white200;
          }
          a {
            color: $white200;
            height: rem(24px);
          }
        }
        h4 {
          display: inline-block;
          max-width: rem(235px);
          a {
            font-size: rem(16px);
            line-height: rem(32px);
            height: rem(60px);
            overflow: hidden;
            color: $black;
          }
        }
        p {
          font-weight: 300;
          font-size: rem(13px);
          line-height: rem(36px);
          height: rem(62px);
          overflow: hidden;
          margin-bottom: rem(30px);
        }
      }
      .show_more {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        color: $yellow100;
        height: rem(28px);
        overflow: hidden;
        span {
          font-weight: 500;
          font-size: rem(13px);
        }
        svg {
          margin: 0 rem(5px) 0 rem(45px);
          fill: $yellow100;
        }
      }
    }
  }
}

.send__message {
  margin-bottom: rem(303px);
  background-image: url("../img/Register_left_bg.png"),
    url("../img/Register_right_bg.png");
  background-position: top rem(114px) left, top rem(130px) right rem(43px);
  background-repeat: no-repeat;
  @include mq(992) {
    background: none;
  }
  @include mq(680) {
    margin-bottom: rem(30px);
  }
  .content {
    form {
      h6 {
        font-size: rem(22px);
        line-height: rem(59px);
        margin-bottom: rem(46px);
        max-width: rem(492px);
        @include mq(550) {
          font-size: rem(18px);
          line-height: rem(36px);
        }
      }
      input {
        width: 100%;
        height: 68px;
        font-size: rem(16px);
        line-height: rem(36px);
        color: $black;
        padding-right: rem(20px);
        border-radius: rem(15px);
        background: $white;
        margin-bottom: rem(20px);
        box-shadow: 0px 3px 19px rgba(0, 0, 0, 0.1);
        font-weight: 500;
        border: 0;
        outline: none;
      }
      ::-webkit-input-placeholder {
        /* Edge */
        font-size: rem(16px);
        line-height: rem(36px);
        color: $white100;
      }
      :-ms-input-placeholder {
        /* Internet Explorer */
        font-size: rem(16px);
        line-height: rem(36px);
        color: $white100;
      }
      ::placeholder {
        font-size: rem(16px);
        line-height: rem(36px);
        color: $white100;
      }
      textarea {
        width: 100%;
        height: rem(190px);
        border-radius: rem(15px);
        padding: rem(20px) rem(20px) 0 0;
        margin-bottom: rem(39px);
        background: $white;
        font-family: IRANSans;
        font-size: 16px;
        line-height: 36px;
        color: $black;
        outline: none;
        resize: none;
        box-shadow: 0 rem(15px) rem(19px) rgba(0, 0, 0, 0.1);
        border: 0;
      }
      button {
        padding: rem(8px) rem(32px);
        border-radius: rem(29px);
        background: $yellow100;
        color: $white;
        outline: none;
        font-family: $mainFont;
        font-weight: 500;
        font-size: rem(17px);
        transition: all 0.5s;
        border: 0;
        box-shadow: 0 rem(3px) rem(20px) rgba(255, 195, 0, 0.39);
      }
    }
    img {
      max-width: rem(409px);
      height: rem(675px);
      border-radius: 26px;
      overflow: hidden;
      object-fit: cover;
    }
  }
}
footer {
  background-color: $black;
  color: $white;
  .content {
    padding: rem(63px) 0 rem(153px) 0;
    display: flex;
    @include mq(1200) {
      flex-wrap: wrap;
    }

    .about_us {
      width: 33%;
      @include mq(1200) {
        width: 50%;
        margin-bottom: rem(32px);
      }
      @include mq(768) {
        width: 100%;
      }
      .logo {
        display: inline-block;
        svg {
          fill: $yellow100;
          width: rem(127px);
          height: rem(72px);
        }
      }

      p {
        font-size: rem(14px);
        margin-top: rem(24px);
        max-width: rem(285px);
        line-height: rem(32px);
        max-height: rem(110px);
        overflow: hidden;
      }
    }
    .quick_access {
      width: 10%;
      @include mq(1200) {
        width: calc(50% - 50px);
        margin-right: rem(50px);
        margin-bottom: rem(32px);
      }
      @include mq(550) {
        margin-right: 0;
        width: 100%;
      }
      h6 {
        color: $yellow100;
        margin-bottom: rem(25px);
        font-weight: bold;
        line-height: rem(23px);
        font-size: rem(16px);
      }
      ul {
        li {
          a {
            color: $white !important;
            line-height: rem(23px);
            overflow: hidden;
            width: 100%;
          }
        }
      }
    }
    .contact {
      width: calc(23% - 40px);
      margin-right: rem(40px);
      @include mq(1200) {
        width: calc(50%);
        margin-right: 0;
      }
      @include mq(550) {
        width: 100%;
      }
      h6 {
        margin-bottom: rem(25px);
        font-weight: bold;
        color: $yellow100;
      }
      ul {
        li {
          line-height: rem(32px);
          a {
            color: $white;
          }
        }
      }
    }
    .share {
      width: calc(34% - 50px);
      margin-right: rem(50px);
      @include mq(1200) {
        width: calc(50% - 50px);
      }
      @include mq(768) {
        width: 60%;
        margin-right: 0;
      }
      @include mq(550) {
        width: 100%;
      }
      h6 {
        margin-bottom: rem(30px);
        font-weight: bold;
        line-height: rem(23px);
        color: $yellow100;
      }
      p {
        line-height: rem(23px);

        font-size: rem(16px);
      }
      .input_box {
        background: $white;
        border: 1px solid rgba(0, 0, 0, 0.1);
        filter: drop-shadow(0px 3px 16px rgba(0, 0, 0, 0.05));
        display: flex;
        justify-content: space-between;
        border-radius: rem(27px);
        padding: rem(4px) rem(20px) rem(4px) rem(4px);
        input {
          outline: none;
          width: 100%;
        }
        .save {
          background: $yellow100;
          color: $black;
          padding: rem(10px) rem(32px) rem(10px) rem(32px);
          border-radius: rem(23px);
          font-size: rem(16px);
        }
      }
      .social {
        li {
          margin-left: rem(24px);
        }
      }
    }
  }
}
