@font-face {
  font-family: 'IRANSans-web';
  src: url("../fonts/WebFonts/eot/IRANSans-Bold-web.eot");
  src: url("../fonts/WebFonts/eot/IRANSans-Bold-web.eot?#iefix") format("eot"), url("../fonts/WebFonts/woff2/IRANSans-Bold-web.woff2") format("woff2"), url("../fonts/WebFonts/woff/IRANSans-Bold-web.woff") format("woff"), url("../fonts/WebFonts/ttf/IRANSans-Bold-web.ttf") format("ttf");
  font-weight: bold;
}

@font-face {
  font-family: 'IRANSans-web';
  src: url("../fonts/WebFonts/eot/IRANSans-Medium-web.eot");
  src: url("I../fonts/WebFonts/eot/IRANSans-Medium-web.eot?#iefix") format("eot"), url("../fonts/WebFonts/woff2/IRANSans-Medium-web.woff2") format("woff2"), url("../fonts/WebFonts/woff/IRANSans-Medium-web.woff") format("woff"), url("../fonts/WebFonts/ttf/IRANSans-Medium-web.ttf") format("ttf");
  font-weight: 500;
}

@font-face {
  font-family: 'IRANSans-web';
  src: url("../fonts/WebFonts/eot/IRANSans-UltraLight-web.eot");
  src: url("../fonts/WebFonts/eot/IRANSans-UltraLight-web.eot?#iefix") format("eot"), url("../fonts/WebFonts/woff2/IRANSans-UltraLight-web.woff2") format("woff2"), url("../fonts/WebFonts/woff/IRANSans-Medium-web.woff") format("woff"), url("../fonts/WebFonts/ttf/IRANSans-UltraLight-web.ttf") format("ttf");
  font-weight: 200;
}

@font-face {
  font-family: 'IRANSans-web';
  src: url("../fonts/WebFonts/eot/IRANSans-Light-web.eot");
  src: url("../fonts/WebFonts/eot/IRANSans-Light-web.eot?#iefix") format("eot"), url("../fonts/WebFonts/woff2/IRANSans-Light-web.woff2") format("woff2"), url("../fonts/WebFonts/woff/IRANSans-Light-web.woff") format("woff"), url("../fonts/WebFonts/ttf/IRANSans-web.ttf") format("ttf");
  font-weight: 300;
}

@font-face {
  font-family: 'IRANSans-web';
  src: url("../fonts/WebFonts/eot/IRANSans-web.eot");
  src: url("../fonts/WebFonts/eot/IRANSans-web.eot") format("eot"), url("../fonts/WebFonts/woff2/IRANSans-web.woff2") format("woff2"), url("../fonts/WebFonts/woff/IRANSans-web.woff") format("woff"), url("../fonts/WebFonts/ttf/IRANSans-web.ttf") format("ttf");
  font-weight: normal;
}

body {
  direction: rtl;
  font-size: 0.8125rem;
  font-family: IRANSans-web !important;
  text-decoration: none;
  position: relative;
  font-weight: normal;
  background-size: 10.4375rem 21.9375rem;
}

body a {
  text-decoration: none !important;
}

body button {
  cursor: pointer;
  outline: none;
  border: none;
  background: transparent;
}

input,
select,
textarea {
  font-family: IRANSans-web !important;
}

ul {
  list-style: none;
}

.overlay {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 5;
  display: none;
  width: 100vw;
  height: 100%;
  /* Note: currently only Safari supports backdrop-filter */
  -webkit-backdrop-filter: blur(30px);
          backdrop-filter: blur(30px);
  --webkit-backdrop-filter: blur(30px);
  background-color: rgba(255, 255, 255, 0.15);
}

.overlay__show {
  display: block;
}

.fixed_body {
  height: 100vh;
  overflow: hidden;
}

header {
  position: relative;
  margin-top: 2rem;
}

header .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 2.25rem;
}

@media only screen and (max-width: 992px) {
  header .content {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}

header .content .logo svg {
  width: 3.3125rem;
  height: 1.875rem;
  fill: #FAD779;
}

@media only screen and (max-width: 992px) {
  header .content .logo {
    position: absolute;
    z-index: 30;
    right: 3.125rem;
    margin-top: 0.9375rem;
  }
  header .content .logo svg {
    fill: #000 !important;
  }
}

header .content .left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .content .left nav {
  margin-left: 16.4375rem;
}

@media only screen and (max-width: 992px) {
  header .content .left nav {
    padding-top: 6.25rem !important;
    position: fixed;
    right: -16.25rem;
    top: 0;
    width: 16.25rem;
    margin-left: 0;
    background: #F8C843;
    height: 100vh;
    padding: 20px 0;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    z-index: 10;
  }
  header .content .left nav li {
    padding: 0.625rem;
    font-size: 1rem !important;
  }
  header .content .left nav li a {
    color: #2E2509;
    font-weight: 300;
  }
}

header .content .left nav ul {
  margin: 0 -0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 0 !important;
}

@media only screen and (max-width: 992px) {
  header .content .left nav ul {
    margin: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

header .content .left nav ul li {
  margin: 0 0.5rem;
}

header .content .left nav ul li a {
  color: #4C5159;
  font-weight: 300;
  font-size: 1rem;
}

header .content .left nav ul li a:hover {
  color: #F6BF27 !important;
}

@media only screen and (max-width: 992px) {
  header .content .left nav ul li a:hover {
    font-weight: bold;
    font-size: 16px;
    color: #000 !important;
  }
}

header .content .left nav ul .active a {
  font-weight: bold;
  color: #F6BF27 !important;
}

@media only screen and (max-width: 992px) {
  header .content .left nav ul .active a {
    font-weight: bold;
    font-size: 16px;
    color: #000 !important;
  }
}

header .content .left .show__menu {
  right: 0;
}

header .content .left .icons a {
  position: relative;
}

header .content .left .icons a span {
  position: absolute;
  right: -0.125rem;
  bottom: -0.25rem;
  color: #ffffff;
  width: 1.125rem;
  height: 0.8125rem;
  background-color: #EE1E27;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 0.125rem;
  font-size: 0.75rem;
}

@media only screen and (max-width: 992px) {
  header .content .left .icons {
    margin-right: auto;
  }
}

header .content .left .modal__box .modal-body {
  height: 18.75rem;
}

@media only screen and (max-width: 425px) {
  header .content .left .modal__box .modal-body {
    height: calc(100vh - 46px);
  }
}

header .content .left .modal__box .modal-body .search__input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 425px) {
  header .content .left .modal__box .modal-body .search__input {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

header .content .left .modal__box .modal-body .search__input input {
  border: none;
  border-bottom: 0.0625rem solid #000;
  padding: 1.875rem 0;
  background-image: url("../img/search__icon__in__modal.svg");
  background-repeat: no-repeat;
  background-position: left 0 bottom 1.25rem;
  font-weight: 300;
  font-size: 1.125rem;
  line-height: 3.5rem;
}

@media only screen and (max-width: 425px) {
  header .content .left .modal__box .modal-body .search__input input {
    width: 80%;
    padding: 0;
    background-position: left 0 bottom 0.3125rem;
  }
}

header .content .left .modal__box .modal-body .search__input ::-webkit-input-placeholder {
  font-weight: 300;
  font-size: 1.125rem;
  line-height: 3.5rem;
  text-align: right;
  color: #000;
}

header .content .left .modal__box .modal-body .search__input :-ms-input-placeholder {
  font-weight: 300;
  font-size: 1.125rem;
  line-height: 3.5rem;
  text-align: right;
  color: #000;
}

header .content .left .modal__box .modal-body .search__input ::-ms-input-placeholder {
  font-weight: 300;
  font-size: 1.125rem;
  line-height: 3.5rem;
  text-align: right;
  color: #000;
}

header .content .left .modal__box .modal-body .search__input ::placeholder {
  font-weight: 300;
  font-size: 1.125rem;
  line-height: 3.5rem;
  text-align: right;
  color: #000;
}

@media only screen and (max-width: 425px) {
  header .content .left .modal__box .modal-body .search__input ::-webkit-input-placeholder {
    font-size: 0.9375rem;
    line-height: 1.875rem;
  }
  header .content .left .modal__box .modal-body .search__input :-ms-input-placeholder {
    font-size: 0.9375rem;
    line-height: 1.875rem;
  }
  header .content .left .modal__box .modal-body .search__input ::-ms-input-placeholder {
    font-size: 0.9375rem;
    line-height: 1.875rem;
  }
  header .content .left .modal__box .modal-body .search__input ::placeholder {
    font-size: 0.9375rem;
    line-height: 1.875rem;
  }
}

header .content .left .mobile__menu {
  display: none;
}

@media only screen and (max-width: 992px) {
  header .content .left .mobile__menu {
    display: block;
    margin-right: 15px;
  }
}

.new_arrivals {
  position: relative;
  background-repeat: no-repeat;
  background-position: top 5.6875rem right -1.6875rem;
  margin-top: 6.25rem;
  margin-bottom: 7.25rem;
}

@media only screen and (max-width: 1260px) {
  .new_arrivals {
    background-position: top 5.6875rem right -5rem;
  }
}

@media only screen and (max-width: 480px) {
  .new_arrivals {
    background: none;
  }
}

.new_arrivals .description {
  margin-right: 3.5rem;
}

@media only screen and (max-width: 480px) {
  .new_arrivals .description {
    margin-right: 0.625rem;
  }
}

.new_arrivals .description h6 {
  font-size: 1rem !important;
  color: #ACA8A8;
  margin-top: 2.6875rem;
  padding-bottom: 16px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border-bottom: 1px solid #ACA8A8;
  font-weight: 300;
  height: 2.5rem;
  overflow: hidden;
}

@media only screen and (max-width: 480px) {
  .new_arrivals .description h6 {
    font-size: 0.875rem !important;
  }
}

.new_arrivals .description h3 {
  font-size: 2.8125rem;
  margin-top: 1.875rem;
  margin-bottom: 2.5rem;
  line-height: 4.375rem;
  font-weight: 500;
  overflow: hidden;
  max-height: 9.375rem;
}

@media only screen and (max-width: 480px) {
  .new_arrivals .description h3 {
    font-size: 1.875rem;
  }
}

.new_arrivals .description h3 span {
  color: #F6BF27;
}

.new_arrivals .description p {
  font-weight: 300;
  color: #383838;
  line-height: 1.6875rem;
  max-width: 18.4375rem;
  margin-bottom: 1.875rem;
  height: 3.75rem;
  overflow: hidden;
}

.new_arrivals .description .buy_now {
  display: inline-block;
  font-weight: 300;
  line-height: 1.625rem;
  border-radius: 1.25rem;
  background: #F6BF27;
  -webkit-box-shadow: 0 0.1875rem 1.25rem rgba(255, 195, 0, 0.39);
          box-shadow: 0 0.1875rem 1.25rem rgba(255, 195, 0, 0.39);
  color: #ffffff;
  padding: 0.5rem 1.625rem;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.new_arrivals .description .buy_now:hover {
  -webkit-box-shadow: none;
          box-shadow: none;
  background: #000;
}

.new_arrivals .pic {
  overflow: hidden;
  -o-object-fit: cover;
     object-fit: cover;
}

.popular_flowers .title,
.most_favorites .title,
.latest_from_blogs .title {
  text-align: center;
  padding-bottom: 5.125rem;
}

.popular_flowers .title h5,
.most_favorites .title h5,
.latest_from_blogs .title h5 {
  text-align: center;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  position: relative;
  font-weight: 500;
  font-size: 1.5625rem;
  margin: 0 2.3125rem 0 2.3125rem;
}

@media only screen and (max-width: 520px) {
  .popular_flowers .title h5,
  .most_favorites .title h5,
  .latest_from_blogs .title h5 {
    font-size: 1.125rem;
    margin: 0 1.5625rem 0 1.5625rem;
  }
}

.popular_flowers .title .after svg,
.most_favorites .title .after svg,
.latest_from_blogs .title .after svg {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.popular_flowers .items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.popular_flowers .items a img {
  border-radius: 12px;
}

.most_favorites {
  background-image: url("../img/most_populare_right_bg.png"), url("../img/most_populare_left_bg.png");
  background-position: top 9rem right -1.6875rem, top 9rem left 0;
  background-repeat: no-repeat no-repeat;
  margin-top: 6.875rem;
}

@media only screen and (max-width: 768px) {
  .most_favorites {
    background-image: none;
  }
}

.most_favorites .content .item {
  margin-top: 7.5rem;
  margin-bottom: 3.75rem;
}

.most_favorites .content .item:hover .top .box .like_item {
  opacity: 1;
}

.most_favorites .content .item:hover .top .box .hover_img {
  opacity: 1;
}

.most_favorites .content .item:hover .description button {
  background-color: #000;
  border-radius: 1.3125rem;
  padding: 0.625rem;
  color: #ffffff;
  border-bottom: 0;
}

.most_favorites .content .item .top {
  position: relative;
}

.most_favorites .content .item .top .pic {
  display: inline-block;
  position: absolute;
  bottom: 2.75rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  max-width: 17.5rem;
  max-height: 20.125rem;
}

.most_favorites .content .item .top .box {
  height: 11.125rem;
  border-radius: 1.375rem;
  background: #ffffff;
  -webkit-box-shadow: 0 0.1875rem 1.9375rem rgba(0, 0, 0, 0.07);
          box-shadow: 0 0.1875rem 1.9375rem rgba(0, 0, 0, 0.07);
}

.most_favorites .content .item .top .box .like_item {
  position: absolute;
  bottom: 1.0625rem;
  right: 1rem;
  opacity: 0;
  z-index: 100;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  cursor: pointer;
}

.most_favorites .content .item .top .box .hover_img {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  position: absolute;
  z-index: 100;
  left: 0;
  bottom: 0;
  opacity: 0;
}

.most_favorites .content .item .description {
  margin-top: 1.875rem;
}

.most_favorites .content .item .description .item_name {
  font-size: 1.125rem;
  font-weight: bold;
  line-height: 1.875rem;
}

.most_favorites .content .item .description .item_name a {
  color: #000 !important;
}

.most_favorites .content .item .description .price {
  font-size: 1.125rem;
  font-weight: bold;
  line-height: 1.875rem;
  margin-bottom: 0.75rem !important;
}

.most_favorites .content .item .description .category {
  font-weight: normal;
  font-size: 0.875rem;
  margin-bottom: 1.375rem;
}

.most_favorites .content .item .description button {
  padding-bottom: 1.25rem;
  font-size: 0.875rem;
  color: #f8ca4c;
  outline: none;
  height: 2.5rem;
  overflow: hidden;
  border-bottom: 0.0625rem solid #f8ca4c;
}

.most_favorites .content .more {
  font-size: 1rem;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  color: #ffffff;
  text-align: center;
  margin: 0 auto;
  padding: 0.6875rem 1.875rem;
  border-radius: 24px;
  background: #F6BF27;
  -webkit-box-shadow: 0 0.1875rem 1.25rem rgba(255, 195, 0, 0.39);
          box-shadow: 0 0.1875rem 1.25rem rgba(255, 195, 0, 0.39);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.most_favorites .content .more:hover {
  -webkit-box-shadow: none;
          box-shadow: none;
  background: #000;
}

.banner {
  margin: 12.125rem 0 9rem 0;
}

.banner a img {
  border-radius: 0.9375rem;
}

.latest_from_blogs {
  margin-bottom: 11.625rem;
}

@media only screen and (max-width: 780px) {
  .latest_from_blogs {
    margin-bottom: 5rem;
  }
}

.latest_from_blogs .content .title {
  text-align: center;
}

@media only screen and (max-width: 380px) {
  .latest_from_blogs .content .title span {
    display: none;
  }
}

.latest_from_blogs .content .item {
  width: 100%;
  border-radius: 1.625rem;
  background: #ffffff;
  -webkit-box-shadow: 0 0.1875rem 1.1875rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 0.1875rem 1.1875rem rgba(0, 0, 0, 0.1);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  padding-bottom: 1.75rem;
}

.latest_from_blogs .content .item:hover {
  background: #F6BF27;
  -webkit-box-shadow: 0px 3px 19px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 3px 19px rgba(0, 0, 0, 0.1);
}

.latest_from_blogs .content .item:hover .description,
.latest_from_blogs .content .item:hover a,
.latest_from_blogs .content .item:hover span {
  color: #ffffff !important;
}

.latest_from_blogs .content .item:hover .description .info svg {
  fill: #ffffff;
}

.latest_from_blogs .content .item:hover .show_more svg {
  fill: #ffffff;
}

.latest_from_blogs .content .item .pic {
  width: 100%;
  height: 23.875rem;
  overflow: hidden;
  margin-bottom: 1.25rem;
  display: block;
  border-radius: 1.625rem;
}

.latest_from_blogs .content .item .pic img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  -webkit-box-shadow: 0 0.1875rem 1rem rgba(0, 0, 0, 0.16);
          box-shadow: 0 0.1875rem 1rem rgba(0, 0, 0, 0.16);
}

.latest_from_blogs .content .item .description {
  padding: 0 1.25rem;
}

.latest_from_blogs .content .item .description .info {
  font-weight: 300;
  font-size: 0.875rem;
  color: #A9ACAC;
  margin-bottom: 1.25rem;
  max-width: 14.6875rem;
  height: 1.5rem;
  overflow: hidden;
}

.latest_from_blogs .content .item .description .info svg {
  fill: #A9ACAC;
}

.latest_from_blogs .content .item .description .info a {
  color: #A9ACAC;
  height: 1.5rem;
}

.latest_from_blogs .content .item .description h4 {
  display: inline-block;
  max-width: 14.6875rem;
}

.latest_from_blogs .content .item .description h4 a {
  font-size: 1rem;
  line-height: 2rem;
  height: 3.75rem;
  overflow: hidden;
  color: #000;
}

.latest_from_blogs .content .item .description p {
  font-weight: 300;
  font-size: 0.8125rem;
  line-height: 2.25rem;
  height: 3.875rem;
  overflow: hidden;
  margin-bottom: 1.875rem;
}

.latest_from_blogs .content .item .show_more {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  color: #F6BF27;
  height: 1.75rem;
  overflow: hidden;
}

.latest_from_blogs .content .item .show_more span {
  font-weight: 500;
  font-size: 0.8125rem;
}

.latest_from_blogs .content .item .show_more svg {
  margin: 0 0.3125rem 0 2.8125rem;
  fill: #F6BF27;
}

.send__message {
  margin-bottom: 18.9375rem;
  background-image: url("../img/Register_left_bg.png"), url("../img/Register_right_bg.png");
  background-position: top 7.125rem left, top 8.125rem right 2.6875rem;
  background-repeat: no-repeat;
}

@media only screen and (max-width: 992px) {
  .send__message {
    background: none;
  }
}

@media only screen and (max-width: 680px) {
  .send__message {
    margin-bottom: 1.875rem;
  }
}

.send__message .content form h6 {
  font-size: 1.375rem;
  line-height: 3.6875rem;
  margin-bottom: 2.875rem;
  max-width: 30.75rem;
}

@media only screen and (max-width: 550px) {
  .send__message .content form h6 {
    font-size: 1.125rem;
    line-height: 2.25rem;
  }
}

.send__message .content form input {
  width: 100%;
  height: 68px;
  font-size: 1rem;
  line-height: 2.25rem;
  color: #000;
  padding-right: 1.25rem;
  border-radius: 0.9375rem;
  background: #ffffff;
  margin-bottom: 1.25rem;
  -webkit-box-shadow: 0px 3px 19px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 3px 19px rgba(0, 0, 0, 0.1);
  font-weight: 500;
  border: 0;
  outline: none;
}

.send__message .content form ::-webkit-input-placeholder {
  /* Edge */
  font-size: 1rem;
  line-height: 2.25rem;
  color: #b4bebe;
}

.send__message .content form :-ms-input-placeholder {
  /* Internet Explorer */
  font-size: 1rem;
  line-height: 2.25rem;
  color: #b4bebe;
}

.send__message .content form ::-ms-input-placeholder {
  font-size: 1rem;
  line-height: 2.25rem;
  color: #b4bebe;
}

.send__message .content form ::placeholder {
  font-size: 1rem;
  line-height: 2.25rem;
  color: #b4bebe;
}

.send__message .content form textarea {
  width: 100%;
  height: 11.875rem;
  border-radius: 0.9375rem;
  padding: 1.25rem 1.25rem 0 0;
  margin-bottom: 2.4375rem;
  background: #ffffff;
  font-family: IRANSans;
  font-size: 16px;
  line-height: 36px;
  color: #000;
  outline: none;
  resize: none;
  -webkit-box-shadow: 0 0.9375rem 1.1875rem rgba(0, 0, 0, 0.1);
          box-shadow: 0 0.9375rem 1.1875rem rgba(0, 0, 0, 0.1);
  border: 0;
}

.send__message .content form button {
  padding: 0.5rem 2rem;
  border-radius: 1.8125rem;
  background: #F6BF27;
  color: #ffffff;
  outline: none;
  font-family: IRANSans-web !important;
  font-weight: 500;
  font-size: 1.0625rem;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  border: 0;
  -webkit-box-shadow: 0 0.1875rem 1.25rem rgba(255, 195, 0, 0.39);
          box-shadow: 0 0.1875rem 1.25rem rgba(255, 195, 0, 0.39);
}

.send__message .content img {
  max-width: 25.5625rem;
  height: 42.1875rem;
  border-radius: 26px;
  overflow: hidden;
  -o-object-fit: cover;
     object-fit: cover;
}

footer {
  background-color: #000;
  color: #ffffff;
}

footer .content {
  padding: 3.9375rem 0 9.5625rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media only screen and (max-width: 1200px) {
  footer .content {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

footer .content .about_us {
  width: 33%;
}

@media only screen and (max-width: 1200px) {
  footer .content .about_us {
    width: 50%;
    margin-bottom: 2rem;
  }
}

@media only screen and (max-width: 768px) {
  footer .content .about_us {
    width: 100%;
  }
}

footer .content .about_us .logo {
  display: inline-block;
}

footer .content .about_us .logo svg {
  fill: #F6BF27;
  width: 7.9375rem;
  height: 4.5rem;
}

footer .content .about_us p {
  font-size: 0.875rem;
  margin-top: 1.5rem;
  max-width: 17.8125rem;
  line-height: 2rem;
  max-height: 6.875rem;
  overflow: hidden;
}

footer .content .quick_access {
  width: 10%;
}

@media only screen and (max-width: 1200px) {
  footer .content .quick_access {
    width: calc(50% - 50px);
    margin-right: 3.125rem;
    margin-bottom: 2rem;
  }
}

@media only screen and (max-width: 550px) {
  footer .content .quick_access {
    margin-right: 0;
    width: 100%;
  }
}

footer .content .quick_access h6 {
  color: #F6BF27;
  margin-bottom: 1.5625rem;
  font-weight: bold;
  line-height: 1.4375rem;
  font-size: 1rem;
}

footer .content .quick_access ul li a {
  color: #ffffff !important;
  line-height: 1.4375rem;
  overflow: hidden;
  width: 100%;
}

footer .content .contact {
  width: calc(23% - 40px);
  margin-right: 2.5rem;
}

@media only screen and (max-width: 1200px) {
  footer .content .contact {
    width: calc(50%);
    margin-right: 0;
  }
}

@media only screen and (max-width: 550px) {
  footer .content .contact {
    width: 100%;
  }
}

footer .content .contact h6 {
  margin-bottom: 1.5625rem;
  font-weight: bold;
  color: #F6BF27;
}

footer .content .contact ul li {
  line-height: 2rem;
}

footer .content .contact ul li a {
  color: #ffffff;
}

footer .content .share {
  width: calc(34% - 50px);
  margin-right: 3.125rem;
}

@media only screen and (max-width: 1200px) {
  footer .content .share {
    width: calc(50% - 50px);
  }
}

@media only screen and (max-width: 768px) {
  footer .content .share {
    width: 60%;
    margin-right: 0;
  }
}

@media only screen and (max-width: 550px) {
  footer .content .share {
    width: 100%;
  }
}

footer .content .share h6 {
  margin-bottom: 1.875rem;
  font-weight: bold;
  line-height: 1.4375rem;
  color: #F6BF27;
}

footer .content .share p {
  line-height: 1.4375rem;
  font-size: 1rem;
}

footer .content .share .input_box {
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  -webkit-filter: drop-shadow(0px 3px 16px rgba(0, 0, 0, 0.05));
          filter: drop-shadow(0px 3px 16px rgba(0, 0, 0, 0.05));
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-radius: 1.6875rem;
  padding: 0.25rem 1.25rem 0.25rem 0.25rem;
}

footer .content .share .input_box input {
  outline: none;
  width: 100%;
}

footer .content .share .input_box .save {
  background: #F6BF27;
  color: #000;
  padding: 0.625rem 2rem 0.625rem 2rem;
  border-radius: 1.4375rem;
  font-size: 1rem;
}

footer .content .share .social li {
  margin-left: 1.5rem;
}
/*# sourceMappingURL=style.css.map */